.btn{
padding:14px;
border-radius:16px;
cursor:pointer;
text-align:center;
transition:0.3s;
color:white;
font-weight:500;
}

/* COLORS */
.blue{background:linear-gradient(135deg,#00aaff,#0066ff)}
.green{background:linear-gradient(135deg,#22c55e,#16a34a)}
.red{background:linear-gradient(135deg,#ff4d6d,#e11d48)}
.purple{background:linear-gradient(135deg,#a855f7,#7c3aed)}

.btn:hover{
transform:scale(1.05);
box-shadow:0 0 20px rgba(255,255,255,0.2);
}body::before{
content:"";
position:fixed;
width:200%;
height:200%;
background:url("https://upload.wikimedia.org/wikipedia/commons/8/80/World_map_-_low_resolution.svg");
background-size:cover;
opacity:0.08;
z-index:-2;
animation: rotate 60s linear infinite;
}

@keyframes rotate{
from{transform:rotate(0deg)}
to{transform:rotate(360deg)}
}.plane {
position: fixed;
width: 05px;
height: 10px;
background-image: url("https://cdn-icons-png.flaticon.com/512/201/201623.png");
background-size: cover;
opacity: 0.15;
z-index: -1;
animation: fly linear infinite;
}

@keyframes fly {
0% { transform: translateX(-100px) translateY(0); }
100% { transform: translateX(120vw) translateY(-80px); }
}
