body{
  margin:0;
  font-family:Arial;
  color:white;
  background: linear-gradient(135deg,#0f0c29,#302b63,#24243e);
  overflow:hidden;
}

/* LOGO */
.logo{
  text-align:center;
  font-size:28px;
  margin-top:20px;
  font-weight:bold;
}

/* LANG */
.lang{
  text-align:center;
}

/* GRID */
.grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:12px;
  padding:15px;
}

/* CARD */
.card{
  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(10px);
  padding:20px;
  border-radius:15px;
  text-align:center;
  cursor:pointer;
  transition:0.3s;
}

.card:hover{
  transform:scale(1.05);
}

/* BUTTON 💜 */
.btn{
  background:#a855f7;
  color:white;
  padding:14px;
  border-radius:10px;
  text-align:center;
  text-decoration:none;
}

/* FLOAT ICONS */
.float{
  position:fixed;
  font-size:28px;
  animation: move linear infinite;
}

.i1{top:0; left:10%; animation-duration:20s;}
.i2{bottom:0; left:30%; animation-duration:25s;}
.i3{top:20%; right:0; animation-duration:22s;}
.i4{bottom:10%; right:20%; animation-duration:28s;}
.i5{top:50%; left:-10%; animation-duration:30s;}

@keyframes move{
  0%{transform:translate(0,0);}
  50%{transform:translate(100vw,-50vh);}
  100%{transform:translate(-100vw,50vh);}
}

/* PAGE */
.hidden{display:none;}
.page{animation:fade 0.3s;}

@keyframes fade{
  from{opacity:0;}
  to{opacity:1;}
}

.back{
  margin:10px;
  cursor:pointer;
}

/* CONTACT */
.contact-box{
  padding:10px;
}

/* ADDRESS */
.address{
  padding:15px;
  font-size:14px;
}
